.catalog {
  padding: 48px 0 72px;

  @include r($lg) {
    padding: 40px 0 48px;
  }

  @include r($md) {
    padding: 30px 0 36px;
  }

  &__title {
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $title;
    margin-bottom: 48px;

    @include r($lg) {
      margin-bottom: 40px;
    }

    @include r($md) {
      margin-bottom: 30px;
      font-size: 36px;
    }

    @include r($sm) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  &__inner {
    display: flex;
  }

  &__content {
    width: 100%;
  }

  &__items {
    margin-right: 24px;
    max-width: 300px;
    width: 100%;

    @include r($xl) {
      padding: 76px 21px 76px 0;
      height: 100vh;
      margin-right: 0;
      position: fixed;
      top:0;
      left: 0;
      background-color: $white;
      z-index: 666;
      overflow: auto;
      transform: translateX(-150%);
      transition: transform 0.5s;

      &--active {
        transform: translateX(0);
      }
    }
  }

  &__filter {
    border: 1px solid $silver-600;
    border-radius: 6px;
    position: relative;
    overflow: hidden;

    &--active {
      .catalog__filter-content {
        transform: translateY(0);
        opacity: 1;
        position: relative;
      }

      .catalog__filter-title {
        &::before {
          transform: rotate(0);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__filter-title {
    padding: 18px;
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $title;
    cursor: pointer;

    &::before {
      transition: transform 0.3s;
      @include pseudo;
      width: 18px;
      height: 11px;
      top: 27px;
      right: 24px;
      @extend %properties-bg;
      background-image: url("../images/icon/sort-arrow.svg");
      transform: rotate(180deg);
    }
  }

  &__filter-content {
    border-top: 1px solid $silver-600;
    transition: transform 0.3s;
    position: absolute;
    transform: translateY(-150%);
    opacity: 0;
  }

  &__filter-items {
    padding: 18px;
    height: 300px;
    overflow: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    display: block;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $green-900;
    }
  }

  &__form {
    padding: 18px;
  }

  &__lable {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-left: 36px;
  }

  &__filter-box {
    margin-right: 12px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    padding-left: 36px;

    &:checked + .catalog__checkbox {
      background-image: url("../../../images/icon/tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-color: $default;
    }
  }

  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    cursor: pointer;
    margin-left: -36px;
    transition: border-color 0.5s;

    &:hover {
      border-color: #505050;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
  }

  &__to,
  &__from {
    display: flex;
    align-items: center;

    span {
      color: $silver-600;
    }
  }

  &__to-input,
  &__from-input {
    max-width: 80px;
    padding: 12px 0;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    margin: 0 6px;
    border-radius: 3px;
    color: $default;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  &__sort-item {
    &:not(:last-child) {
      margin-right: 15px;
    }

    @include r($sm) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;

    @include r($lg) {
      margin-bottom: 40px;
    }

    @include r($md) {
      margin-bottom: 30px;
      justify-content: flex-start;
    }
  }

  &__btn {
    padding: 5px 6px 4px;
    background-color: $silver-100;

    &--active {
      .catalog__img {
        fill: $green-900;
      }
    }
  }

  .btn-horizontally,
  .btn-vertically {
    @include r($lg){
      display: none;
    }
  }

  &__btn-filter {
    @include r($xl) {
      width: 47px;
      height: 47px;
      background-image: url("../../../images/icon/filter.svg");
      background-size: 32px 36px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $silver-100;
    }
  }

  &__img {
    width: 35px;
    height: 35px;
    fill: $silver-600;
    border-radius: 3px;
  }

  &__cards {
    display: grid;
    margin-bottom: 48px;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    @include r($lg) {
      grid-gap: 10px;
      margin-bottom: 40px;
    }

    @include r($md) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
    }

    @include r($sm) {
      grid-gap: 5px;
      margin-bottom: 24px;
    }

    &.cards-horizontally {
      grid-template-columns: repeat(2, 1fr);

      .catalog__card-top {
        margin-top: 0;
      }

      .catalog-card {
        max-width: 466px;
        width: 100%;
        padding: 6px;

        @include r($xl) {
          max-width: 100%;
        }
      }

      .catalog-card__link {
        display: block;
        float: left;
        margin: 0 12px 0 0;

        &::after,
        &::before {
          display: none;
        }
      }

      .catalog-card__img {
        width: 200px;
        height: 144px;

        @include r($exl) {
          width: 160px;
        }
      }

      .catalog-card__info {
        padding: 6px 12px 6px 0;
      }

      .catalog-card__desc {
        max-width: 178px;
        margin: 0 9px 18px 0;

        @include r($exl) {
          max-width: 170px;
        }
      }

      .catalog-card__heart {
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
      }
    }
  }

  .catalog-card {
    @include r($xl) {
      max-width: 100%;
    }

    @include r($sm) {
      padding: 59px 7px 12px;
    }

    &__link {
      margin-bottom: 0;
    }
  }

  &__card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    margin-top: -6px;
    position: relative;
  }

  &__status {
    margin-bottom: 9px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r($md) {
      flex-direction: column;
    }
  }

  &__bottom-btn {
    @include r($md) {
      margin-bottom: 24px;
    }
  }

  &__pagination-btn,
  &__pagination-item {
    @include r($sm) {
      display: none;
    }
  }

  &__rating-num {
    @include r($sm) {
      font-size: 10px;
      padding-right: 14px;

      &::after {
        width: 12px;
        height: 12px;
      }
    }
  }

  //select

  .jq-selectbox.focused {
    .jq-selectbox__select {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  .jq-selectbox.focused.opened {
    .jq-selectbox__select {
      border: 1px solid $default;
      border-radius: 3px 3px 0 0;
      box-shadow: none;
    }

    .jq-selectbox__trigger-arrow {
      transform: rotate(0);
    }
  }

  .jq-selectbox__select {
    padding: 15px 45px 15px 10px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.2;

    @include r($sm) {
      padding: 16px 26px 16px 6px;
      font-size: 12px;
      max-width: 155px;
      @include line-clamp;
    }
  }

  .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 20px;
    right: 9px;
    width: 11px;
    height: 7px;
    background-image: url("../../../images/icon/sort-arrow.svg");
    @extend %properties-bg;
    transform: rotate(180deg);
  }

  .jq-selectbox__dropdown {
    width: 100%;
    padding: 7px 0;
    border: 1px solid $silver-600;
    border-radius: 0 0 3px 3px;
    background-color: $white;
  }

  .jq-selectbox li {
    padding: 9px 8px;
  }

  //button

  .irs-from,
  .irs-to,
  .irs-min,
  .irs-max {
    display: none;
  }

  .irs--round {
    margin: 0 auto 18px;
    width: 265px;
    height: 18px;
  }

  .irs--round .irs-handle {
    top: 0;
    width: 18px;
    height: 18px;
    border: none;
    background-color: $green-900;
    border-radius: 50%;
    box-shadow: none;
  }

  .irs--round .irs-bar {
    top: 9px;
    height: 2px;
    background-color: $green-900;
  }

  .irs--round .irs-line {
    top: 9px;
    height: 2px;
    background-color: #c4c4c4;
    border-radius: 4px;
  }

  .irs--round .irs-handle.state_hover,
  .irs--round .irs-handle:hover {
    background-color: $green-900;
  }
}