@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "global";

.card__cart,
.footer__btn,
.slider__btn {
    transition: background-color, 0.4s box-shadow 0.3s, color 0.5s;
    &:hover {
        background-color: #4d800c;
    }
    &:focus {
        box-shadow: 0 0 0 4px #e0edcf;
    }
    &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        color: rgba(255, 255, 255, 0.5);
    }
}

.header-top__link,
.social__link {
    transition: opacity 0.5s, box-shadow 0.3s, color 0.5s;
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        opacity: 1;
        box-shadow: 0 0 0 3px #eff6e7;
        border-radius: 3px;
    }
    &:active {
        box-shadow: none;
        color: #e0edcf;
    }
}

.user-nav__link {
    &:hover {
        background-color: #626262;
    }

    &:focus {
        box-shadow: inset 0 0 0 3px #eff6e7;
        background-color: #626262;
    }

    &:active {
        box-shadow: none;
        opacity: 0.5;
    }
}

.header-top {
    padding: 14px 0;
    background-color: $dark-800;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts,
    &__list {
        display: flex;
    }

    &__contacts-item:not(:last-child) {
        margin-right: 48px;
    }

    &__link {
        @extend %opensans-700;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: $white;
        text-transform: uppercase;
    }

    &__link--address,
    &__link--phone {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            @extend %properties-bg;
        }
    }

    &__link--address {
        padding-left: 44px;
        &::after {
            width: 32px;
            height: 22px;
            background-image: url(../images/icon/del-address.svg);
        }
    }

    &__link--phone {
        padding-left: 35px;
        &::after {
            width: 23px;
            height: 22px;
            background-image: url(../images/icon/phone.svg);
        }
    }

    &__item:not(:last-child) {
        margin-right: 24px;
    }
}

.header-bottom {
    padding: 25px 0;
    background-color: $green-900;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 24px;
    }

    &__btn {
        margin-right: 30px;
        background-color: $white;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        padding: 17px 0;
        width: 240px;
        transition: background-color 0.5s, border-radius 0.4s, transform 0.3s;
        &:hover {
            background-color: $green-200;
            border-radius: 6px 6px 0 0;
        }

        &:hover span::before {
            transform: rotate(180deg);
        }
    }

    &__btn span {
        @extend %opensans-600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.03em;
        color: $green-900;
        padding-right: 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 4px;
            top: 50%;
            right: 0;
            background-image: url(../images/icon/catalog-arrow.svg);
            @extend %properties-bg;
            transform: translateY(-50%);
        }
    }

    &__icon {
        margin-right: 18px;
    }

    // &__list {
    //     position: absolute;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     z-index: 1;
    // }

    // &__item {
    //     padding: 15px 0;
    //     width: 240px;
    //     border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    // }

    // &__link {
    //     display: block;
    //     padding: 0 24px;
    //     width: 100%;
    //     line-height: 1.2;
    //     letter-spacing: 0.03em;
    // }

    &__search {
        display: flex;
        max-width: 577px;
        width: 100%;
        height: 50px;
        margin-right: auto;
        border-radius: 6px;
        box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.2);
        background-color: $white;
        position: relative;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        width: 44px;
        height: 44px;
        border-radius: 6px;
        transition: background-color, 0.4s box-shadow 0.3s, fill 0.5s;
        path {
            fill: #31352b;
        }

        &:hover {
            background-color: #626262;
        }

        &:hover path {
            fill: $white;
        }

        &:focus {
            box-shadow: inset 0 0 0 3px #eff6e7;
            background-color: #626262;
        }

        &:focus path {
            fill: $white;
        }

        &:active {
            box-shadow: none;
            opacity: 0.5;
        }

        &:active path {
            fill: rgba(255, 255, 255, 0.5);
        }
    }

    &__input {
        margin-left: 10px;
        outline: transparent;
        border: transparent;
        max-width: 368px;
        width: 100%;
        &::placeholder {
            font-size: 14px;
            line-height: 1.4;
            letter-spacing: 0.03em;
            color: $dark-800;
        }
    }

    &__search-btn {
        width: 157px;
        background: #31352b;
        border-radius: 0 6px 6px 0;
        color: $white;
        transition: background-color 0.4s, box-shadow 0.3s, color 0.5s;
        &:hover {
            background-color: rgba(49, 53, 43, 0.85);
        }
        &:focus {
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
        }
        &:active {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.logo {
    display: block;
    width: 200px;
    height: 60px;
}

.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__link:not(:last-child) {
        margin-right: 15px;
    }

    &__num {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        top: 2px;
        left: 3px;
        background-color: $white;
        border-radius: 50%;
        color: $red-900;
        @extend %opensans-600;
        font-size: 10px;
        line-height: 1;
        letter-spacing: 0.03em;
    }
}

.slider {
    &__item {
        @extend %properties-bg;
        position: relative;
    }

    &__inner {
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__box {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        padding: 24px;
    }

    &__title {
        max-width: 75%;
        @extend %ruda-700;
        font-size: 60px;
        line-height: 1.3;
        text-transform: uppercase;
    }

    &__title span {
        display: block;
        color: $red-900;
        margin-bottom: 12px;
    }
    &__desc {
        line-height: 1.4;
        margin-bottom: 32px;
    }

    &__info {
        padding: 50px 0 20px;
        background-color: $silver-100;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__info-item {
        width: 265px;
        padding: 0 0 10px 74px;
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: top left;
    }

    &__info-item:not(:last-child) {
        margin-right: 65px;
    }

    &__info-item--delivery {
        background-image: url("../images/icon/delivery.svg");
    }

    &__info-item--return {
        background-image: url("../images/icon/return.svg");
    }

    &__info-item--support {
        background-image: url("../images/icon/support.svg");
    }

    &__info-title {
        @extend %opensans-600;
        font-size: 16px;
        line-height: 1.4;
        color: $title;
        margin-bottom: 7px;
    }

    &__info-text {
        max-width: 170px;
        font-size: 14px;
        line-height: 1.4;
    }
}

.slick-arrows {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: background-color 0.4s, box-shadow 0.3s, fill 0.5s;

    path {
        fill: $default;
    }

    &:hover {
        background-color: $green-200;
    }

    &:hover .slick-arrows__img path {
        fill: $green-900;
    }

    &:focus {
        background-color: #f2f2f2;
        box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }
    &:focus .slick-arrows__img path {
        fill: #5a5a5a;
    }

    &:active {
        box-shadow: none;
        background-color: #f3f3f2;
    }

    &:active .slick-arrows__img path {
        fill: $green-900;
    }
}

.slick-arrows.arrow-prev {
    left: 60px;
}

.slick-arrows.arrow-next {
    right: 60px;
}

.slick-disabled {
    path {
        fill: $silver-600;
    }
}

.tovars {
    text-align: center;

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__button {
        @extend %opensans-700;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $default;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 48px;
        text-align: left;
    }
}

.card {
    width: 300px;
    height: 410px;
    padding: 57px 0 18px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    position: relative;

    &__list {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    &__item {
        line-height: 1;
    }

    &__item:not(:last-child) {
        margin-bottom: 6px;
    }

    &__badge {
        @extend %opensans-700;
        border-radius: 6px;
        font-size: 10px;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $white;
        padding: 3px 6px;
        text-transform: uppercase;
    }

    &__badge--new {
        background-color: $green-900;
    }

    &__badge--sale {
        background-color: $red-900;
    }

    &__badge--hit {
        background-color: $orange-900;
    }

    &__liked {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 8px;
        right: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: box-shadow 0.5s border-radius 0.4s, fill 0.5s;
        path {
            fill: $silver-600;
        }

        &:hover path {
            fill: #ffb800;
        }
        &:focus {
            box-shadow: 0 0 0 3px #e0edcf;
            border-radius: 3px;
        }
        &:active {
            box-shadow: none;
        }
        &:active path {
            fill: rgba(255, 184, 0, 0.5);
        }
    }

    &__link-img {
        margin-bottom: 18px;
        display: inline-block;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            opacity: 0;
            transition: opacity 0.5s;
            left: 0;
            right: 0;
        }

        &::before {
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.1);
        }

        &::after {
            width: 48px;
            height: 48px;
            background-image: url("../images/icon/search.svg");
            top: 50%;
            background-color: $white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            margin: 0 auto;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &:hover::after,
        &:hover::before {
            opacity: 1;
        }
    }

    &__info {
        padding: 0 18px;
    }

    &__desc {
        @extend %opensans-600;
        height: 60px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: $title;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    &__info-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.03em;
    }

    &__old-price {
        display: block;
        color: $silver-600;
        margin-bottom: 3px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $silver-600;
            transform: rotate(-15deg);
        }
    }

    &__cart {
        width: 32px;
        height: 32px;
        background-color: $green-900;
        background-image: url("../images/icon/cart.svg");
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
    }
}

.footer {
    background-color: $dark-800;
    color: $white;
    font-size: 14px;
    line-height: 1;

    &__content {
        padding: 30px 0;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__feedback {
        margin-right: 60px;
    }

    &__desc {
        display: block;
        margin-bottom: 18px;
    }

    &__form {
        max-width: 306px;
        width: 100%;
        display: flex;
    }

    &__input {
        height: 40px;
        max-width: 180px;
        width: 100%;
        padding: 0 12px;
        outline: transparent;
        border: transparent;
        border-radius: 6px 0 0 6px;
        &::placeholder {
            font-size: 14px;
            line-height: 1;
            color: #4f4f4f;
        }
    }

    &__btn {
        padding: 12px 16px;
        background-color: $green-900;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: $white;
        border-radius: 0 6px 6px 0;
    }

    &__items {
        column-count: 3;
        column-gap: 80px;
    }

    &__item:not(:last-child) {
        margin-bottom: 25px;
    }

    &__contacts {
        margin-right: 14px;
    }

    &__bottom {
        padding: 24px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__blockquote {
        display: block;
        font-size: 14px;
        line-height: 1.4;
    }

    &__money {
        display: flex;
    }

    &__money-item {
        display: block;
        @extend %properties-bg;
    }

    &__money-item:not(:last-child) {
        margin-right: 24px;
    }

    &__money-item--visa {
        width: 93px;
        height: 29px;
        background-image: url("../images/icon/visa.svg");
    }

    &__money-item--mc {
        width: 49px;
        height: 29px;
        background-image: url("../images/icon/master-card.svg");
    }
}

.social {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 12px;
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        @extend %properties-bg;
    }

    &__link--facebook {
        background-image: url("../images/icon/facebook.svg");
    }

    &__link--youtube {
        background-image: url("../images/icon/youtube.svg");
    }

    &__link--telegram {
        background-image: url("../images/icon/telegram.svg");
    }

    &__link--instagram {
        background-image: url("../images/icon/instagram.svg");
    }
}

@import "media";
