.badges {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;

    &__item {
        display: table;
        font-weight: 700;
        border-radius: 6px;
        font-size: 10px;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $white;
        padding: 3px 6px;
        text-transform: uppercase;

        &--new {
            background-color: $green-900;
        }

        &--sale {
            background-color: $red-900;
        }

        &--hit {
            background-color: $orange-900;
        }

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}