.breadcrumbs {
  padding: 24px 0 9px; 
  background-color: $silver-100;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom:15px;

    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 7px;
      position: relative;

      &::before {
        @include pseudo;
        width: 8px;
        height: 12px;
        bottom: 5px;
        right: -2px;
        background-image: url("../images/icon/sort-arrow.svg");
        background-size: 8px 12px;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(90deg);
      }
    }
  }

  &__link {
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 14px 0;
  }
}