.burger {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 666;
  transform: translateX(-120%);
  transition: transform 0.5s;

  &--active {
    transform: translateX(0);
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.15);
    z-index: -1;
  }

  &__close {
    top: 32px;
    right: 18px;
  }

  &__items {
    background-color: $white;
    width: 300px;
    height: 100vh;
    padding-bottom: 100px;
    overflow: auto;
  }

  &__top {
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__authorization {
    padding: 2px 4px;
    background-color: $green-900;
    text-align: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
  }

  &__auth {
    display: block;
    padding: 0 9px;
    position: relative;

    &:not(:last-child) {
      &::after {
        @include pseudo;
        height: 18px;
        width: 2px;
        background-color: $white;
        right: 0;
        top: 0;
      }
    }
  }

  &__catalog {
    display: block;
    width: 100%;
    position: relative;
    background-color: $white;
    border-radius: 6px;

    &:hover {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;
    }
  }

  &__btn {
    width: 100%;
    color: #31352b;
    font-size: 18px;
    line-height: 1;
    justify-content: flex-start;

    &::before {
      display: none;
    }
  }

  &__catalog-icon {
    fill: $dark-800;
  }

  &__catalog-list {
    height: 100vh;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__contacts {
    flex-direction: column;
    padding: 7px 15px;
    border-top: 1px solid rgba($silver-600, 0.3);
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__contacts-link {
    padding: 22px 0;
    @include line-clamps(18, 1, 2);
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: $title;
    padding-left: 40px;
    display: flex;
    align-items: center;

    &--phone,
    &--address {
      background-position: left center;
      background-repeat: no-repeat;
    }

    &--phone {
      background-image: url("../../images/icon/burger-phone.svg");
    }

    &--address {
      background-image: url("../images/icon/map.svg");
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__social-icon {
    fill: $black;
  }

  &__menu {
    padding: 24px 15px;
    column-count: 1;
  }

  &__menu-link {
    padding: 13px 0;
    font-size: 18px;
    line-height: 1;
    color: $dark-800;
    max-height: 44px;
    max-width: 100%;
    margin-bottom: 0;
    @include line-clamp();
  }
}
