.cart {
  display: none;
  height: 100vh;
  max-width: 475px;
  width: 100%;
  background-color: $white;
  z-index: 60;
  position: fixed;
  top: 0;
  right: 0;

  @include r($sm){
    height: auto;
  }

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    padding: 19px 24px 12px;
  }

  &__close {
    top: 24px;
    right: 16px;
    padding: 9px 10px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black;
  }

  &__header-title {
    margin-bottom: 12px;
  }

  &__clear {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $black;
  }

  &__list {
    flex-grow: 1;
    background-color: $silver-100;
    padding: 12px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__card {
    max-width: 100%;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
  }

  &__card-close {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 6px;
    fill: $silver-600;
    transition: background-color 0.5s, fill 0.5s, box-shadow 0.4s;

    &:hover {
      background-color: $green-100;
      border-radius: 3px;
      fill: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      box-shadow: none;
      fill: $silver-600;
      background-color: rgba($silver-600, 0.3);
      border-radius: 3px;
    }
  }

  &__card-icon {
    width: 12px;
    height: 12px;
  }

  &__inner {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__desc {
    margin-bottom: 5px;
    max-width: 170px;
    @include line-clamps(14px, 1.4, 2);
  }

  &__link {
    margin: 0 32px 0 0;

    &::before,
    &::after {
      opacity: 0;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  &__total {
    display: flex;
    align-items: flex-end;
  }

  &__counter {
    width: 84px;
    margin-right: 12px;
  }

  &__input {
    .jq-number__field input {
      height: 24px;
      font-size: 16px;
    }

    &.jq-number {
      padding: 0px 24px;
      height: 24px;
      border-radius: 0;
    }

    .jq-number__spin {
      width: 24px;

      &::after {
        width: 16px;
      }
    }

    .jq-number__spin.plus,
    .jq-number__spin.minus {
      border-radius: 0;
    }

    .jq-number__spin.plus::before {
      height: 16px;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $default;
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
  }

  &__result {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $default;

    span {
      font-size: 18px;
    }
  }

  &__buy {
    display: block;
    width: 100%;
    padding: 22px 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    background-color: $green-900;
  }

}