.contacts {
    &__link {
        display: block;

        max-width: 16em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-wrap: break-word;
        word-break: keep-all;
        line-break: auto;
        hyphens: auto;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}