.contacts {
    &__link {
        display: block;
        text-transform: capitalize;
        max-width: 250px;
        @include line-clamps(14, 1.4, 2);

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include r($lg) {
        order: -1;

        &__link:not(:last-child) {
            margin-bottom: 0;
        }
    }

    @include r($md) {
        &__link:not(:last-child) {
            margin-bottom: 6px;
        }

        &__link {
            padding: 12px 0;
        }
    }

    @include r($sm) {
        &__link:not(:last-child) {
            margin-bottom: 2px;
        }
    }
}
