.contacts {
    &__link {
        display: block;
        text-transform: capitalize;
        max-width: 250px;
        @include line-clamps(14, 1.4, 2);

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}