.filter-mix {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;

    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__button {
        font-weight: 700;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $default;

        &.mixitup-control-active {
            border-bottom: 3px solid $green-200;
        }

        &:hover {
            color: #63a60e;
        }

        &:focus {
            box-shadow: 0 0 0 3px $green-200;
            border-radius: 3px;
        }

        &:active {
            color: $default;
            box-shadow: none;
            border-radius: 0;
            border-bottom: 3px solid $green-200;
        }
    }
}