.menu {
    column-count: 3;
    column-gap: 80px;

    &__item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__link {
        @include line-clamps(14, 1.4, 2);
    }

    @include r($xl) {
        column-count: 2;
        column-gap: 60px;
    }

    @include r($lg) {
        column-count: 4;
        padding: 24px 0;
    }

    @include r($md) {
        column-count: 3;

        &__item:not(:last-child) {
            margin-bottom: 0px;
        }

        &__item {
            padding: 12px 0;
        }
    }

    @include r($sm) {
        column-count: 2;
        column-gap: 30px;
    }
}