.menu {
  column-count: 3;
  column-gap: 80px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__link {
    @include line-clamps(14, 1.4, 2);
    display: block;
    margin-bottom: 11px;
    max-width: 150px;
    max-height: 50px;
    padding: 5px;
    letter-spacing: 0.03em;
  }
}