.pagination {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver-100;
    color: $default;
    width: 48px;
    height: 48px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: border-color 0.5s, box-shadow 0.4s;

    &--active {
      border-color: $default;
    }

    &:hover {
      border-color: $silver-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-color: transparent;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__arrows {
    &--next {
      transform: rotate(-180deg);
      margin-left: 6px;
    }

    &--prev {
      margin-right: 6px;
    }
  }

  &__arrow {
    width: 11px;
    height: 18px;
    fill: $default;
  }

  &__disable {
    &:hover {
      border-color: transparent;
    }

    &:focus {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }

    .pagination__arrow {
      fill: $silver-600;
    }
  }
}
