.payment {
  display: flex;

  @include r ($md) {
    padding: 8px 0;
  }

  @include r ($sm) {
    margin-bottom: 16px;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}