.status {
  display: block;
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &--in {
    color: $green-900;
  }

  &--few {
    color: $red-900;
  }

  &--out {
    color: $silver-600;
  }
}