.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.4s, box-shadow 0.3s, opacity 0.5s;

    &:hover {
      border-radius: 3px;
      background-color: rgba($white, 0.1);
    }

    &:focus {
      border-radius: 3px;
      box-shadow: inset 0 0 0 3px #eff6e7;
      background-color: rgba($white, 0.1);
    }

    &:active {
      border-radius: 3px;
      background-color: rgba($white, 0.1);
      box-shadow: none;
      opacity: 0.5;
    }
  }

  &__icon {
    fill: $white;

    &--login {
      width: 25px;
      height: 32px;
    }

    &--heart {
      width: 32px;
      height: 29px;
    }

    &--cart {
      width: 32px;
      height: 31px;
    }
  }

  &__num {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 4px 5px;
    top: 2px;
    right: 28px;
    background-color: $white;
    border-radius: 10px;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
  }
}