<div class="burger">
    <div class="burger__items">
        <div class="burger__top">
            <a class="logo" href="#">
                <svg class="burger__logo">
                    <use xlink:href="images/sprite.svg#logo"></use>
                </svg>
                <span class="sr-only header__sr">логотип</span>
            </a>
            <button class="burger__close" type="button">
                <span class="sr-only">кнопка для закрытия меню</span>
            </button>
        </div>
        <div class="burger__authorization">
            <div class="burger__inner">
                <svg class="user-nav__icon user-nav__icon--login burger__icon">
                    <use xlink:href="images/sprite.svg#user-login"></use>
                </svg>
                <a class="burger__link" href="#">Вход</a><span>|</span>
                <a class="burger__link" href="#">Регистрация</a>
            </div>
        </div>
        <div class="header__catalog burger__catalog">
            <button class="header__btn burger__btn" type="button">
                <svg class="header__icon burger__catalog-icon">
                    <use xlink:href="images/sprite.svg#catalog-burger"></use>
                </svg>
                Каталог продуктов
            </button>
            <ul class="header__catalog-list">
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Овощи и фрукты</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Бакалея</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Молочные продукты</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Хлеб</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Мясо</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Колбаса</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Рыба</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Алкоголь</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Напитки</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Торты</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Мясо</a>
                </li>
                <li class="header__catalog-item">
                    <a class="header__catalog-link" href="#">Чай, кофе</a>
                </li>
            </ul>
        </div>
        <address class="burger__contacts contacts">
            <a class="burger__contacts-link burger__contacts-link--phone links" href="tel:+7907288365">
                +7 907 288 365
            </a>
            <a class="burger__contacts-link burger__contacts-link--address links" href="#">
                Санкт-Петербург, ул. Ленина, 1
            </a>
            <ul class="burger__social social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="burger__social-icon social__icon">
                            <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                        <span class="sr-only">ссылка на facebook</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="burger__social-icon social__icon">
                            <use xlink:href="images/sprite.svg#youtube"></use>
                        </svg>
                        <span class="sr-only">ссылка на youtube</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="burger__social-icon social__icon">
                            <use xlink:href="images/sprite.svg#telegram"></use>
                        </svg>
                        <span class="sr-only">ссылка на telegram</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="burger__social-icon social__icon">
                            <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg>
                        <span class="sr-only">ссылка на instagram</span>
                    </a>
                </li>
            </ul>
        </address>
        <ul class="burger__menu menu">
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">О нас</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Контакты</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Публичная оферта</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Оплата и доставка</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Вакансии</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Акции</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Отзывы</a>
            </li>
            <li class="menu__item">
                <a class="menu__link burger__menu-link links" href="#">Новости</a>
            </li>
        </ul>
    </div>
</div>