<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <a class="logo footer__logo" href="#">
        <img class="logo__img" src="images/icon/icon-svg/logo.svg" alt="логотип" width="200" height="60">
      </a>
      <div class="footer__inner">
        <div class="footer__feedback">
          <div class="footer__desc">
            <p>
              Следите за нашими акциями
            </p>
          </div>
          <form class="footer__form form-search">
            <label class="sr-only" for="email">введите email</label>
            <input class="footer__input form-search__input" id="email" type="email" name="email"
              placeholder="email@email.com" required>
            <button class="footer__btn button" type="submit" name="search-btn">подписаться</button>
          </form>
        </div>
        <ul class="footer__items menu">
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">О нас</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Контакты</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Публичная оферта</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Оплата и доставка</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Вакансии</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Акции</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Отзывы</a>
          </li>
          <li class="footer__item menu__item">
            <a class="menu__link footer__item-link links" href="#">Новости</a>
          </li>
        </ul>
        <address class="footer__contacts contacts">
          <a class="contacts__link links" href="tel:+7907288365">
            Горячая линия+7 907 288 365
          </a>
          <a class="contacts__link links" href="#">
            Санкт-Петербург, ул. Ленина, 1
          </a>
          <ul class="footer__social social">
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
                <span class="sr-only">ссылка на facebook</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#youtube"></use>
                </svg>
                <span class="sr-only">ссылка на youtube</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
                <span class="sr-only">ссылка на telegram</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#">
                <svg class="social__icon">
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
                <span class="sr-only">ссылка на instagram</span>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <span class="footer__copy">© 2021 фрешок</span>
        <div class="payment">
          <a class="payment__link payment__link--visa links" href="#">
            <img class="payment__img" src="images/icon/visa.svg" alt="Оплата картой Visa" width="93" height="29">
          </a>
          <a class="payment__link payment__link--mc links" href="#">
            <img class="payment__img" src="images/icon/master-card.svg" alt="Оплата картой Master-card" width="49" height="29">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>