.product-tabs {
  max-width: 690px;
  margin: 0 auto;
  padding-bottom: 72px;

  @include r($sm) {
    padding-bottom: 48px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    margin-bottom: 48px;

    @include r($sm) {
      padding: 0;
      margin-bottom: 30px;
    }
  }

  &__item {
    padding-top: 16px;
  }

  &__link {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $title;
    padding-top: 16px;
    position: relative;
    transition: color 0.5s;

    &--active {
      color: $green-900;

      &::before {
        @include pseudo;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: $green-900;
      }
    }

    &:hover {
      color: $green-900;
    }

    @include r($md) {
      padding: 16px 0 8px;
      font-size: 16px;
    }

    @include r($sm) {
      padding: 17px 0 10px;
      font-size: 14px;
    }
  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    span {
      font-weight: 700;
    }

    &--desc {
      color: #4f4f4f;
    }

    &--char {
      p {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 48px;

    @include r($sm) {
      margin-bottom: 30px;
    }
  }

  &__reviews {
    margin-bottom: 72px;

    @include r($md) {
      margin-bottom: 48px;
    }

    @include r($sm) {
      margin-bottom: 30px;
    }
  }

  &__reviews-item {
    &:not(:last-child) {
      margin-bottom: 24px;
      padding-bottom: 24px;
      position: relative;

      &::after {
        @include pseudo;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $silver-600;
      }
    }

    @include r($sm) {
      &:not(:last-child) {
        padding-bottom: 18px;
        margin-bottom: 28px;
      }
    }
  }

  &__reviews-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include r($sm) {
      margin-bottom: 18px;
    }
  }

  &__reviews-user {
    display: flex;
    align-items: center;
  }

  &__reviews-avatar {
    margin-right: 24px;
  }

  &__reviews-login {
    font-weight: bold;
    line-height: 19px;
    color: $title;
    margin-bottom: 4px;
  }

  &__reviews-date {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #4f4f4f;
  }

  &__grade {
    margin-bottom: 15px;
    display: flex;

    @include r($sm) {
      margin-bottom: 18px;
    }
  }

  &__grade-lable {
    display: block;
    margin-left: 22px;
  }

  &__star {
    .star-rating__img {
      &:focus {
        box-shadow: 0 0 0 2px $green-200;
        border-radius: 2px;
      }

      &:hover {
        fill: rgba(238, 215, 155, 0.5);
      }

      &:active {
        fill: #FFB800;
      }
    }
  }

  &__form-inner {
    display: flex;
    margin-bottom: 24px;

    @include r($sm) {
      flex-direction: column;
      margin-bottom: 18px;
    }
  }

  &__form-lable {
    font-size: 16px;
    line-height: 1.3;
    color: $title;
    display: block;

    &--input {
      width: 260px;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &--textarea {
      max-width: 400px;
      width: 100%;
      margin-right: 30px;
    }

    &--checkbox {
      width: auto;
      margin-right: 18px;
    }

    @include r($md) {
      &--textarea {
        margin-right: 10px;
      }
    }

    @include r($sm) {
      &:not(:last-child) {
        margin-bottom: 18px;
      }

      &--input {
        width: 100%;
      }

      &--textarea {
        max-width: 100%;
        margin-right: 0;
      }

      &--checkbox {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__form-textarea,
  &__form-input {
    border: 1px solid $silver-600;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    margin-top: 12px;
    padding: 18px;
    transition: box-shadow 0.5s;
    width: 100%;

    &::placeholder {
      font-size: 14px;
      line-height: 1.3;
      color: $silver-600;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }
  }

  &__form-textarea {
    height: 165px;
    resize: none;
  }

  &__form-input {
    height: 54px;
  }

  &__lable {
    line-height: 1.3;
    margin: 0 0 24px 36px;
    display: block;
    padding-right: 25px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    padding-left: 36px;

    &:checked+.product-tabs__checkbox {
      background-image: url("../images/icon/tick.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-color: $default;
    }
  }

  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $silver-100;
    border: 1px solid $silver-600;
    border-radius: 3px;
    cursor: pointer;
    margin-left: -36px;
    transition: border-color 0.5s;

    &:hover {
      border-color: #505050;
    }
  }
}