.product-page {
  &__inner {
    padding: 48px 0 64px;
    border-bottom: 1px solid $silver-600;

    @include r($md) {
      padding: 30px 0 42px;
    }

    @include r($sm) {
      padding: 30px 0 30px;
    }
  }

  &__card {
    display: flex;
    max-width: 100%;
    padding: 0;
    border: none;
    flex-direction: row;

    @include r($lg) {
      display: block;
      padding: 92px 0 0;
    }
  }

  &__slider-top {
    max-width: 630px;
    margin-right: 30px;
    border: 1px solid $silver-600;
    padding: 63px 0;
    border-radius: 4px;
    position: relative;

    @include r($xl) {
      max-width: 430px;
    }

    @include r($lg) {
      padding: 16px 37px;
      margin: 0 0 76px 0;
      max-width: 100%;
    }
  }

  &__arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $default;

    &--prev {
      left: 22px;
    }

    &--next {
      right: 22px;
      transform: rotate(-180deg) translateY(50%);
    }

    @include r($xl) {
      &--prev {
        left: 10px;
      }

      &--next {
        right: 10px;
      }
    }
  }

  &__modal-arrows {
    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
      transform: rotate(-180deg) translateY(50%);
    }
  }

  &__arrows-img {
    width: 19px;
    height: 32px;
  }

  &__modal-dots {
    bottom: 92px;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: rgba($black, 0.15);
      border: 1px solid $silver-600;
    }

    .swiper-pagination-bullet-active {
      background-color: $green-900;
      border: 1px solid $green-900;
    }
  }

  &__img {
    margin: 0 auto;

    @include r($md) {
      width: 270px;
      height: 270px;
    }
  }

  &__content {
    width: 100%;
    margin: auto 0;
  }

  &__desc {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $title;
    margin-bottom: 64px;
    @include line-clamps(32, 1.2, 2);

    @include r($lg) {
      font-size: 26px;
      @include line-clamps(26, 1.2, 2);
      position: absolute;
      top: 0;
      margin-bottom: 0;
    }
  }

  &__badges {
    top: -50px;
    left: 8px;

    @include r($lg) {
      top: -48px;
      left: 4px;
    }
  }

  &__badges-item {
    padding: 6px 9px;
    font-size: 16px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;

    @include r($sm) {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__top-box {
    display: flex;
    align-items: center;
  }

  &__code {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $silver-600;
    padding: 4px 5px;
    background-color: $silver-100;
    border-radius: 3px;
    margin-right: 12px;
  }

  &__status {
    font-size: 16px;

    @include r($sm) {
      margin-top: 18px;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 60px;

    @include r($sm) {
      margin-bottom: 30px;
    }
  }

  &__price-item {
    margin: 0 25px 0 0;
    font-weight: bold;
    font-size: 20px;

    &--new {
      font-size: 30px;
      font-weight: bold;
      color: $green-900;
    }
  }

  &__bottom {
    margin-bottom: 32px;
    position: relative;
  }

  &__amount {
    display: flex;
  }

  &__cart {
    padding: 9px 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 18px;

    @include r($md) {
      border: none;
    }

    @include r($sm) {
      font-size: 0;
    }
  }

  &__liked {
    top: 0;
    right: 0;
  }

  &__heart {
    width: 44px;
    height: 39px;
  }

  &__cart-icon {
    margin-right: 13px;
    width: 24px;
    height: 24px;

    @include r($sm) {
      margin-right: 0;
    }
  }

  &__info-title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title;
    padding-bottom: 18px;
    margin-bottom: 18px;
    position: relative;

    &::after {
      @include pseudo;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $silver-600;
    }
  }

  &__text {
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-bottom: 18px;
  }

  &__info-link {
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $green-900;
    transition: box-shadow 0.5s, color 0.5s;

    &:hover {
      text-decoration-line: underline;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 3px;
    }

    &:active {
      box-shadow: none;
      text-decoration-line: underline;
      color: #4d800c;
    }

    @include r($md) {
      padding: 14px 0;
    }
  }

  //модальное окно
  &__slider-modal {
    padding: 60px 0 162px;
    max-width: 1728px;
    width: 100%;

    @include r($md) {
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .carousel__button.is-close {
      top: 32px;
      right: 32px;
      border-radius: 3px;
      color: rgba($black, 0.15);
      width: 44px;
      height: 44px;
      transition: background-color 0.5s, fill 0.5s, box-shadow 0.4s;

      &:hover {
        background-color: $green-100;
        border-radius: 3px;
        fill: $green-900;
      }

      &:focus {
        box-shadow: 0 0 0 3px $silver-100;
        border-radius: 3px;
      }

      &:active {
        box-shadow: none;
        background-color: rgba($silver-600, 0.3);
        border-radius: 3px;
      }

      @include r($sm) {
        top: 20px;
        right: 20px;
      }
    }
  }

  &__slider-arrows {
    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }

    @include r($md) {
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }

  &__slider-img {
    margin: 0 auto;

    @include r($lg) {
      width: 500px;
      height: 500px;
    }

    @include r($sm) {
      width: 360px;
      height: 360px;
    }
  }
}
