.slider-brands {
    &__item {
        margin-left: 25%;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }


    &__img {
        opacity: 0.5;
        transition: opacity 0.5s;
        
        &:hover {
            opacity: 1;
        }
    }

    @include r($sm) {
        &__item {
            margin-left: 30%;
        }
    }
}