.top-products {
    &__btn {
        background-color: $white;
        border: 1px solid $green-900;
        color: $green-900;
        margin-bottom: 72px;
        transition: background-color 0.4s box-shadow 0.3s color 0.4s;

        &:hover {
            background-color: #eff6e7;
        }

        &:focus {
            box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
        }

        &:active {
            box-shadow: inset 0 10px 4px rgba($black, 0.1);
            color: rgba(99, 166, 14, 0.5);
        }
    }

    &__offer {
        display: flex;
        text-transform: uppercase;
        text-align: left;
    }

    &__offer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
        width: 100%;
        padding: 76px 32px;
        @extend %properties-bg;
        border-radius: 3px;

        &:not(:last-child) {
            margin-right: 30px;
        }

        &--big {
            color: $white;
            max-width: 630px;
            width: 100%;
        }
    }

    &__name {
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.1em;
        margin-bottom: 18px;
        display: block;
        @include line-clamp;

        &--big {
            text-shadow: 1px 1px 0 rgba($black, 0.25);
        }
    }

    &__text {
        width: 77%;
        font-family: "Ruda", sans-serif;
        font-weight: 600;
        margin-bottom: 12px;
        @include line-clamps(30, 1.4, 2);

        &--big {
            text-shadow: 2px 2px 0 rgba($black, 0.25);
        }
    }

    &__offer-link {
        padding: 5px 0;
        font-weight: 600;
        line-height: 1;
        border-bottom: 2px solid $default;

        &--big {
            border-bottom-color: $white;
            text-shadow: 1px 1px 0 rgba($black, 0.25);
        }
    }

    @include r($xl) {
        &__offer {
            flex-wrap: wrap;
        }

        &__offer-item {
            max-width: 47%;
            width: 100%;
            margin-bottom: 30px;

            &:not(:last-child) {
                margin-right: 30px;
            }

            &:first-child {
                margin-right: 0;
            }

            &--big {
                order: 1;
                max-width: 97%;
            }
        }
    }

    @include r($lg) {
        &__cards {
            grid-gap: 10px;
        }

        &__btn {
            margin-bottom: 45px;
        }
    }

    @include r($md) {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 30px;
        }

        &__offer {
            display: block;
        }

        &__offer-item {
            max-width: 100%;
            margin-bottom: 15px;

            &:not(:last-child) {
                margin-right: 0;
            }

            &--big {
                max-width: 100%;
            }
        }

        &__offer-link {
            padding: 13px 0;
        }
    }

    @include r($sm) {
        &__cards {
            grid-gap: 5px;
            margin-bottom: 24px;
            grid-template-columns: repeat(2, 50%);
        }

        &__offer-item {
            padding: 76px 15px 30px 15px;
        }

        
        &__text {
            width: 52%;
            font-size: 24px;
            margin-bottom: 77px;

            &--big {
                width: 88%;
            }
        }

        &__offer-link {
            display: inline;
            width: auto;
        }
    }
}
